@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  /*  #wrapHome {
    height:32%;
}*/
/*#logo {
    height: 80px;
    margin-left: 0px;
}

#name {
    height: 120px;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.09em;
}*/
/*.top-bar.expanded {
   // height: 300px;
}*/
.contentSub{
margin-top: 30px;
}
.top-bar.expanded {
  
}
/* edit profile and change my password page */
.links-pad {
    margin-left: 2px;
}



}
@media only screen and
	(min-device-width: 768px) and (max-device-width: 1024px)  {
        }
@media only screen and (min-device-width : 240px) and (max-device-width : 319px){
        }
        @media only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
            .contentSub{
        display:block;
         
         margin-left: 20px;

     
         width:90%;
        }
        .mainTitleH1{
            margin-top:20px;
        }
        #name a{
            text-align: center;
        }
        /* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { border: 1px solid #ccc; }
		
		td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			
                        padding-left: 35%; 
                        padding-top: 6px;
		}
                table thead tr th, table tfoot tr th, table tfoot tr td, table tbody tr th, table tbody tr td, table tr td 
                {
                    display:block;
                }
		td.error { 
			padding-left: 0 !important; 
		}
		td:before { 
			
			top: 6px !important;
			left: 6px !important;
			
			padding-right: 10px !important; 
			
                        position:unset !important;
                     
                        width:35% !important;
		}
                list.table tr td:last-child{
                display:none    
                }
                /*.objectDetsDet {
                    display:block;
                    width:100%;
                }*/
                .top-bar-section{
                    display:none;
                }
                .top-bar-section ul li {
                    width:100%;
        }