.viewSettingControls input{
    height:30px;
}
.addEmailDisp input{
    height:30px;
    width:500px;
}
.addEmailDisp textarea{
  height: 350px;
    width: 500px;
}
/*** pagination **/
/** Pagination **/

.pagination
{
	text-align:center;
	padding:20px 10px;
	margin:10px 0 50px
}

.pagination a
{
	display:inline-block;
	padding:5px 10px;
	color:#33485E;
	background-color:#ECF0F1;
	border-radius:3px;
	border:1px solid #dae2e4;
	text-decoration:none;
	box-shadow:0 2px 0 #c0cdd1;
	font-weight:300;
	margin:10px 2px;
	outline:none;
	cursor:pointer
}

.pagination a:hover,.pagination .endless_page_current
{
	display:inline-block;
	padding:5px 10px;
	color:#fff;
	background-color:#04955f;
	border-radius:3px;
	border:1px solid #03774b;
	box-shadow:0 2px 0 #024b2f;
	text-decoration:none;
	margin:10px 2px;
	cursor:pointer
}

.pagination a:hover strong,.pagination .endless_page_current strong
{
	font-weight:300
}

.pagination .endless_page_link:last-of-type
{
	display:inline
}

.btn-info {
    margin-bottom: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
.salesforceSettings input{
    height:30px;
    width:550px;
}
.button-primary{
    width:auto !important;
}
.errorTag{
    color:#ff0000;
}
#adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu, .no-js li.wp-has-current-submenu:hover .wp-submenu {
margin-left:-5px;    
}
#adminmenu .wp-not-current-submenu .wp-submenu{
    margin-left:-1px;
}