
@font-face {
    font-family: "Lato Bold";
    font-style: normal;
    font-weight: 900;
    src: local("Lato Black"), local("Lato-Black"), url("http://themes.googleusercontent.com/static/fonts/lato/v6/BVtM30trf7q_jfqYeHfjtA.woff") format("woff");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
.alpha{
    margin-left: 0;
    padding-left: 0;
}

.omega{
    margin-right: 0;
    padding-right: 0;
}

.grid{
    float: left;
    position: relative;
    display: inline-block;
}
.clear{
    clear: both;
}

.page{
    margin: 0;
    padding: 0;
    width: 100%;
}

.wrapper{
    max-width: 960px;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
}

.row{
    width: 100%;
    overflow: hidden;
    border: solid 1px;
}

/*  Floats  */
.fl{
    float: left;
}

.fr{
    float: right;
}

/*  display */
.iblock{
    display: inline-block;
    *display: inline;
    vertical-align: top;
}

.dblock{
    display: block;
}

.dnone{
    display: none;
}

.dotted{
    background: url(../images/dotted_underline.png) 0 bottom repeat-x;
}

/*   Fancybox overwrites   */
.fancybox-skin {
    background: none repeat scroll 0 0 #e11f26;
    border-radius: 0;
    color: #FFFFFF;
}

.fancybox-close {
    background: url("/images/popup_close.png") 0 0 no-repeat;
    cursor: pointer;
    height: 13px;
    position: absolute;
    right: 14px;
    top: 14px;
    width: 14px;
    z-index: 8040;
}

body, p, section, article, h1, h2, h3, figure {
    margin: 0;
    padding: 0;
    font-family: 'Lato', arial, helvetica, sans-serif;
}

body{
    background: url("../images/extra_clean_paper.png") 0 0 #f1f1f1;
}

section{
    background: #FFFFFF;
}

img {
    border: none;
}

h2 {
    font-family: 'Lato Bold', arial, helvetica, sans-serif;
    font-size: 30px;
}

h2.home_banner_title { font-size: 25px; }

h3 {
    color: #e21a22;
    font-size: 16px;
}
h4 { color: #4d4d4d; font-size: 16px; font-weight: normal;}
.body {
    position: relative;
    font-size: 12px;
}

input[name="search1"]{
    margin: 0px 5px 6px 0px;
    border: none;
    background: url("../images/sprite.png") -200px -91px transparent no-repeat;
    width: 260px;
    color: #616161;
    padding: 4px 0 0 26px;
    height: 16px;    
}

.red{
    color: #e11b22;
}

.col{
    overflow: hidden;
    width: auto;
}

#basket{
    background-position: -202px 4px;
}

#wishlist{
    background-position: -202px -21px;
}

#login{
    background-position: -202px -44px;
}

#logout{
    background-position: -202px -113px;
}

#register{
    background-position: -202px -66px;
}

#search{
    /*background: url(../images/search_underline.png) 0 bottom transparent repeat-x;*/
    padding: 0 0;
    
    background-color: white;
    width: 250px;
    border-right: thin solid #404041;
    /*border-bottom: thin solid #404041;*/
    height: 25px;
}

.topLinks{
    /*background: #000000;*/
    padding: 14px 25px;
    overflow: hidden;
    width: auto;
    max-width: 910px;
}

.topLinks ul{
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-size: 11px;
    width: auto;
}

.topLinks ul li{
    background: #000000;
    float: left;
    margin: 0 2px;
    background-image: url("../images/sprite.png");
    background-repeat: no-repeat;
    width: auto;
}

.topLinks ul li a {
    padding: 5px 10px 5px 23px;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    border-bottom: solid 3px #000000;
}

.topLinks ul li a:visited{
    color: #FFFFFF;
    border-bottom: solid 3px #000000;
}

.topLinks ul li a:hover{
    border-bottom: solid 3px #e21a22;
}

.active a{
    border-bottom: solid 3px #e21a22 !important;
}

.logoLevel{
    background: #404041;
    overflow: hidden;
    width: auto;
}

/*.logoLevel a:link{*/
/*    background: #FFFFFF;*/
/*}*/

.logo{
    padding: 19px 69px 5px;
    float: left;
}

.slogan{
    color: #FFFFFF;
    font-size:  36px;
    font-weight: bold;
    /*width: 320px;*/
    float: right;
    padding-top:39px;
    margin-top: 19px;
    margin-right: 50px;
    background: url("../images/card_logos.png") right 0 no-repeat;
}

.banner {
    background: #f2f5fa;
    padding: 0;
    height: 246px;
    position: relative;
}

.banner img {
    margin-left: 59px;
    padding: 10px 0 0;
}

.banner header {
    position: absolute;
    margin-left: 86px;
    padding-top:2.6%;
}

.quote {
    text-align: center;
    width: 318px;
    height: 57px;
    margin-top: 39px;
}
.quote button {
    width: 318px;
    height: 57px;
    border: none;
    background: url("../images/get_quote_button.png") 0 -57px no-repeat;
    cursor: pointer;
}

.quote button:hover {
    background-position: 0 0;
}

.quote button span {
    visibility: hidden;
}

.promos {
    width: 604px;
    overflow: hidden;
    padding: 35px 0 0px 20px;
    margin-left: 70px;
    min-height: 311px;
}

.promos article {
    width: 300px;
    padding-right: 20px;
    padding-bottom: 50px;
    float: left;
    display: inline-block;
    background: url("../images/promo_shadow.png") 0 120px no-repeat;
}

.promos article p {
    line-height: 16px;
    padding-top: 9px;
    padding-left: 56px;
    width: 205px;
}

#spending p {
    background: url("../images/icon_pound.png") 0 11px no-repeat;
}

#newsletter p {
    background: url("../images/icon_folder.png") 0 11px no-repeat;
}

#suppliers p {
    background: url("../images/icon_handshake.png") 0 11px no-repeat;
}

#laws p {
    background: url("../images/icon_gavel.png") 0 11px no-repeat; height: 45px;
}

#suppliers, #laws {
    padding-right: 0;
    width: 280px !important;
}

aside{
    float: right;
    width: 160px;
    color: #FFFFFF;
    position: absolute;
    top: 37px;
    right: 0;
    margin-right: 78px;
    height: 209px;
}

aside div{
    position: relative;
    padding: 22px 16px 30px;
    background: #343434;
    font-size: 12px;
    height: 100%;
    
}
.slides_container, .slides_container div {
    margin: 0;
    padding: 0;
}

.slides_container div p {
    width: 125px;
    
}
.slide {border-radius: 18px;}
.pb {bottom: 5px;}
.he185{height: 185px;}
.he100 {height: 100%;}
.credit {
    color: #e31921;
    font-size: 13px;
    margin-top: 8px;
}

.speech_arrow{
    margin: 0 0 0 auto;
    width: 57px;
    height: 38px;
    position: absolute;
    bottom: -32px;
    right: 0;
    background: url("../images/aside_arrowg.png") 0 0  no-repeat;
}

p.get_started{
    color: #e21a22;
    padding: 0 15px !important;
    background: url("../images/dotted_arrow.png") 0 3px no-repeat !important;
    margin-top: 5px;
}

p.get_started a:link{
    color: #e21a22;
    text-decoration: none;
    font-weight: bold;
}

p.get_started a:visited{
    color: #e21a22;
}

p.get_started a:hover{
    text-decoration: underline;
}

.gallery{
    position: relative;
}

.gallery h1{
    padding-left: 90px;
    margin-top: 36px;
}

.gallery h1 span{
    color: #e21a22;
}

.gallery ul{
    display: block;
    position: relative;
    overflow: hidden;
    width: 850px;
    height: 143px;
    padding-bottom: 47px;
    margin: 15px 35px 0;
}

.gallery ul li {
    display: inline-block;
    float: left;
    width: 134px;
    height: 123px;
    padding:10px;
    margin: 0 2px;
}

.gallery ul li a:link{
    display: block;
    width: 134px;
    height: 123px;
    padding:10px;
    background: url("../images/gallery_img_normal.png") -2px -1px no-repeat
}

.gallery ul li a:visited{
    background: url("../images/gallery_img_normal.png") -2px -1px no-repeat
}

.gallery ul li a:hover{
    background: url("../images/gallery_img_hover.png") -2px -1px no-repeat
}

.gallery .arrow{
    position: absolute;
    background-image: url("../images/gallery_arrows.png");
    background-repeat: no-repeat;
    height: 44px;
    width: 24px;
    top: 124px;
    cursor: pointer;
    z-index: 30;
}

#arrow_left{
    background-position: 0 0;
    left: 36px;
}

#arrow_right{
    background-position: -24px 0;
    right: 36px;
}

footer {
    background: #343434;
    color: #FFFFFF;
    padding-top: 13px;
    padding-left: 35px;
    padding-bottom: 21px;
    /*margin: 0 auto;*/
    max-width: 925px !important;
}

footer figure{
    display: inline-block;
    float: left;
}

.copyright{
    font-size: 10px;
    margin-left: 21px;
    float: left;
    display: inline-block;
    color: #808284;
}

.footer_links{
    float: right;
    display: inline-block;
    margin-right: 50px;
    color: #FFFFFF;
}

.footer_links ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer_links ul li{
    display: inline-block;
    float: left;
    margin: 0 3px;
}

.footer_links a:link{
    color: #FFFFFF;
    text-decoration: none;
}

.footer_links a:visited{
    color: #FFFFFF;
}

.footer_links a:hover{
    text-decoration: underline;
    color: #e21a22;
}


.footer_action{
    text-align: right;
    font-size: 19px;
    color: #e21a22;
    font-weight: bold;
    padding-bottom: 5px;
}

.footer_action span{
    font-weight: normal;
    }

.newsletterPopup{
    width: 400px;
    padding: 15px 30px;
}

.normal_form ul, .normal_form li, .normal_form label, .normal_form input, .normal_form select{
    /*display: block;*/
}

.normal_form ul{
    list-style-type: none;
    margin: 30px 0 0;
    padding: 0;
}

.normal_form li{
    width: auto;
    overflow: auto;
    padding-bottom: 15px;
}

.normal_form li label, .normal_form li input{
    display: inline-block;
    float: left;
}

.normal_form li label{
    padding-left: 24px;
    padding-top: 3px;
    width: 85px;
}

.normal_form li input[type="text"], .normal_form li input[type="password"]{
    border: thin solid #d9d9d9;
    font-size: 11px;
    height: 19px;
    width: 269px;
    background: #ebebeb;
    padding: 3px;
}

.normal_form li input[type="image"]{
    border: none;
    margin: 26px 79px 0;
}

.normal_form p{
    font-size: 13px;
}

.newsletterPopup h2, .shareSpendingPopup h2{
    font-family: 'Lato',arial,helvetica,sans-serif;
    font-size: 23px;
    padding-bottom: 4px;
}

.submit-group{
    position: relative;
    overflow: hidden;
}

.popup_error{
    margin: 26px 0 0 79px ;
    position:absolute;
    padding-left: 24px !important;
    width: 292px;
    font-size:13px;
    background:url("../images/error_white_icon.png") 8px 2px  no-repeat;
    color:#FFFFFF;
    top:-28px;
    left:0px;
    z-index:1000;
}

#share-spending-form div.popup_error {
    margin-left: 139px;
}

.error_textbox{
    color : #FF0000;
    background : url("../images/error_red_icon.png") 6px 7px #FFFFFF no-repeat !important;
    padding-left : 21px !important;
    width : 251px !important;
}

.spending_container{
    width: 782px;
    margin: 27px auto 95px;
}

.right_share{
    text-align: right;
    padding-bottom: 15px;
    width: auto;
    overflow: auto;
}

.spending_body{
    background-color: #e11b22;
}

.spending_content{
    margin: 0 25px;
    color: #FFFFFF;
    padding: 88px 112px 55px;
    background: url("../images/spiral_spine_red.png") 0px -1px #e11b22 repeat-x;
}

.spending_content h1{
    font-size: 29px;
    font-weight: normal;
    padding-bottom: 62px;
    background: url("../images/dotted_red.png") center bottom no-repeat;
}

.spending_content h2{
    font-size: 22px;
    font-weight: normal;
    padding-bottom: 12px;
    font-family: "Lato", Arial, helvetica, sans-serif;
}

.spending_content h1 span{
    font-weight: bold;
    font-family: "Lato Bold", Arial, helvetica, sans-serif;
}

.spending_content article{
    padding-left: 118px;
    padding-top: 21px;
    padding-bottom: 43px;
    position: relative;
    background: url("../images/dotted_red.png") center bottom no-repeat;
}

.spending_content article img{
    padding-top: 21px;
    position: absolute;
    top: 0;
    left: 0;
}

.spending_content article p{
    font-size: 16px;
}

.spending_content_footer{
    background: none;
    padding: 0;
    text-align: center;
    height: auto;
    padding-top: 41px;
}

.spending_content_footer button{
    background: url("../images/get_quote_red.png") 0 0 no-repeat;
    width: 318px;
    height: 55px;
    border: none;
    cursor: pointer;
}

.spending_content_footer button span{
    display: none;
}

a.share:link, a.share:visited{
    color: #e11b22;
    display: block;
    padding-left: 20px;
    background: url("../images/share_icon.png") 0 3px no-repeat;
    float: right;
}


.shareSpendingPopup {
    padding: 15px 30px;
    width: 460px;
}

.normal_form#share-spending-form li label {
    width: 115px;
}

.normal_form#share-spending-form li input[type="image"] {
    border: none;
    margin: 26px 139px 0;
}

.newsFeed{
    float: left;
    height: 18px;
}

.newsFeed a:link{
    color: #e11b22;
    text-decoration: none;
    padding-left: 30px;
    background: url("../images/rss_icon.png") 0 0 no-repeat;
    display: block;
    height: 18px;
    padding-top:1px;
}
.newsFeed a:visited{
    color: #e11b22;
}

/*  Login page  */
.red_bg{
    background: #FFFFFF;
    padding: 45px 152px;
    color: #404041;
    min-height: 440px;
}

.red_bg h1{
    font-size: 24px;
    font-weight: bold;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

.red_bg h2{
    font-size: 16px;
    font-weight: normal;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

.red_bg h1:first-child{
    padding-bottom: 7px;
}
.red_bg2{
    background: #FFFFFF;
    padding: 45px 92px;
    color: #404041;
    min-height: 440px;
}

.red_bg2 h1{
    font-size: 24px;
    font-weight: bold;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

.red_bg2 h2{
    font-size: 16px;
    font-weight: normal;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

.red_bg2 h1:first-child{
    padding-bottom: 7px;
}

#login-id.login-element-group {
    display: inline-block;
    width: 340px !important;
    float: left;
    /*margin-right: 19px;*/
}

#login-password.login-element-group{
    display: inline-block;
    width: 280px !important;
    float: left;
    /*margin-right: 19px;*/
}

.normal_form li.login-element-group label {
    display: block !important;
    padding: 0 0 9px;
    font-size: 14px;
    float: none;
    clear: both;
}

.normal_form li.login-element-group input[type="text"] {
    width: 319px;
}
.normal_form li.login-element-group input[type="password"] {
/*    background: #FFFFFF;
    border: none;
    font-size: 11px;
    height: 19px;
    padding: 3px;
    width: 241px;*/
}

.login-submit-group{
    clear: both;
    position: relative;
    text-align: right;
    overflow: auto !important;
    width: auto;
    padding-top: 15px;
    width: 588px !important;
    
}

#login_form.normal_form ul li.login-submit-group{
    border-bottom: 1px solid #FFFFFF;
}

#login_form.normal_form ul li.login-submit-group input{
    margin: 0;
    padding: 0;
    float: right;
}

#login-remember.login-element-group label{
    width: 100px;
    float: right;
    padding-top: 1px;
}

#login-remember{
    width: 128px;
    position: relative;
    top: -35px;
    padding: 0;
}

.login_error{
    position: absolute;
    top: -30px;
    margin: 26px 0 0;
    width: 292px;
    font-size:13px;
    background:url("../images/error_white_icon.png") 0px 5px  no-repeat;
    color:#FFFFFF;
    left:0px;
    z-index:1000;
    text-align: left;
    height: 30px;
    padding-left: 26px;
    padding-top: 2px;
}

.normal_error_msg{
    width: 252px;
    font-size:13px;
    background:url("../images/error_white_icon.png") 0px 5px no-repeat;
    color:#FFFFFF;
    text-align: left;
    padding-top: 2px;
    float: left;
    padding-left: 26px;
}

.login_success{
    background:url("../images/error_green_icon.png") 0px 5px  no-repeat;
}

.error_email_textbox{
    color : #FF0000;
    background : url("../images/error_red_icon.png") 6px 7px #FFFFFF no-repeat !important;
    padding-left : 21px !important;
    width : 301px !important;
}

.error_password_textbox{
    color : #FF0000;
    background : url("../images/error_red_icon.png") 6px 7px #FFFFFF no-repeat !important;
    padding-left : 21px !important;
    width : 223px !important;
}

#uniform-interested{
    display: inline-block;
    width: 180px !important;
    float: left;
    margin: 0 19px 3px 0;
   
}

select#interested {
    width: 100px;
    background-color: #000;
}

#contactmessage{
    padding: 8px 8px 8px 18px;
    width: 344px;
    border: 1px solid  #C2C2C2;
    height: 93px;
    resize: none;
    font-family: "Lato", arial, helvetica, sans-serif;
    font-size: 12px;
    overflow: auto;
}
.contact_group {padding-bottom: 30px;}
.contact_group select {width: 100%; padding: 4px; border: 1px solid #C2C2C2;}
.contact_group input {padding: 4px; border: 1px solid  #C2C2C2;}
.w362 {width: 362px;}
.contact_group label, .contact_group input{
    float: none;
    display: block;
}

.contact_group label{
    width: auto;
    font-size: 14px;
    padding-left: 0;
    padding-bottom: 6px;
}

.contact_list {
    display: block;
    width: auto;
    overflow: hidden;
}

#message-envelope{
    
  
}

#newsletter-envelope, #offers-envelope, #submit-envelope{
    display: inline-block;
    float: left;
    width: 262px;
}

#offers-envelope {
    padding-right: 10px;
}

#submit-envelope input {
    margin: 0;
    padding: 0;
    text-align: right;
}

#submit-envelope {
    padding-left: 102px;
}

.last-line {
    padding-top: 4px;
}

li.last-line label, li.last-line input{
    float: right;
}

li.last-line label{
    padding-left: 5px;
    font-size: 13px;
}

li.last-line input{
    position: relative;
    top: 2px;
    margin: 0;
    padding: 0;
}

#newsletter-envelope{
    
    float: left;
    vertical-align: top;
    display: inline-block;
    display: inline;
    zoom: 1
    /*width: 190px;*/
}
/*#newsletter-envelope label {*/
/*    float: right;*/
/*}*/
.w360 { width: 360px;}
.inner_wrap {
    margin: 0px auto;
    width: 779px;
    position: relative;
    padding-top: 35px;
}

.pageName{
    font-family: "Lato", arial, helvetica, sans-serif;
    color: #e11b22;
    font-size: 24px;
    height: 35px;
}

.inner_wrap hgroup h1, .inner_wrap hgroup h2 {
    width: 600px;
    float: left;
}

.inner_wrap hgroup h1 {
    margin: 0;
    
}

.inner_wrap hgroup h2 {
    color: #4d4d4d;
    font-family: "Lato", arial, helvetica, sans-serif;
    font-size: 15px;
    height: 28px;
}

.inner_wrap hgroup {
    width: auto;
    overflow: hidden;
}

.inner_wrap hgroup div {
    width: 160px;
    position: absolute;
    top: 35px;
    right: 0;
}

.inner_wrap hgroup div span {
    display: inline-block;
    width: 160px;
    text-align: right;
    padding-bottom: 10px;
}

.return_link {
    color: #e11b22;
    font-size: 13px;
    font-family: "Lato", arial, helvetica, sans-serif;
}

.print {
    width: 43px;
    height: 14px;
    padding-top: 2px;
    display: inline-block;
    background: url("../images/print.jpg") 0 0 no-repeat;
    text-decoration: none;
    color: #717171;
    font-size: 11px;
}

.trow{
    overflow: auto;
    width: auto;
    border-bottom: dotted 1px #e8e8e8;
}

.trow label, .trow input {
    display: inline-block;
    float: left;
    /*width: 136px;*/
}

.halfbox_left .trow label {
    width: 136px;
    padding-top: 3px;
}

.halfbox_left .trow input {
    width: 220px;
    /*padding-top: 3px;*/
}

.halfbox_right .trow label {
    width: 160px;
    padding-top: 3px;
}

.halfbox_right .trow input {
    width: 118px;
    /*padding-top: 3px;*/
}

.half_box .trow {
    padding: 5px 0;
    border-bottom: none;
}

.table_head{
    background: #f2f5fa;
    border-bottom: none;
}

.td {
    display: inline-block;
    float: left;
}

.col1{ width: 123px; }
.col2{ width: 138px; }
.col3{ width: 180px; }
.col4{ width: 153px; }
.col5{
    width: 100px;
    background: url("../images/date.jpg") right 2px no-repeat;
    cursor: pointer;
}

.col5 span {
    text-decoration: underline;
}

div.table_head div.col5{
    background-image: none;
    cursor: default;
}

div.table_head div.td{
    padding: 12px 8px;
    color: #343434;
    font-size: 12px;
    font-weight: bold;
    font-family: "Lato", arial, helvetica, sans-serif;
    border: none;
}

div.td{
    padding: 12px 8px;
    color: #343434;
    font-size: 11px;
    font-family: "Lato", arial, helvetica, sans-serif;
}

.start_date {
    display: block;
}

.total_weekly div{
    color: #e11b22;
    text-align: right;
    padding: 12px 8px;
}

.total_weekly span {
    font-size: 16px;
    font-weight: bold;
}

.table_checkout {
    padding-bottom: 48px;
}

.checkout_block {
    border-bottom: solid 47px #FFF;
}

.checkout_block .industry_code select {
    width: 576px;
}

.industry_code {
    overflow: hidden;
    width: auto;
}

#more_about_this, #ind_code_options {
    display: inline-block;
    float: left;
}

#more_about_this {
    width: 136px;
}

#ind_code_options {
    width: 600px;
}

#ind_code_options .selector {
    margin-bottom: 5px;
    display: block;
}

.grey_box{
    background: #f2f5fa;
    padding: 13px 8px;
    border-bottom: solid 8px #FFF;
}

.halfbox_container{
    padding: 0;
    background: #FFF;
    overflow: hidden;
    width: auto;
}

.half_box {
    background: #f2f5fa;
    padding: 13px 8px;
    width: 370px;
    display: inline-block;
}

.halfbox_left {
    float: left;
}

.halfbox_right {
    float: right;
}

.options{
    padding-top: 11px;
}

.options input, .options label {
    display: inline-block;
}

.options input {
    height: 13px;
    margin: 0;
    padding: 0;
}

.options label {
    position: relative;
    top: -2px;
    padding: 0 17px 0 3px;
}

.legislation_banner {
    background: url("../images/legislation_banner.png") 500px 0 #F2F5FA no-repeat;
}

.about_us_banner{
    background: url("../images/about-banner.gif") no-repeat;
}

.legislation_banner .pageName,.legislation_banner article, .about_us_banner .pageName, .about_us_banner article {
    width: 356px;
}

ul#legislation_docs {
    font-size: 14px;
    color: #e11b22;
    list-style-type: none;
    padding-bottom: 155px;
    margin: 0;
    padding-left: 0;
}

ul#legislation_docs li {
    display: block;
    background: url("../images/document_icon.jpg") 0 0 no-repeat;
    height: 18px;
    padding-bottom: 14px;
    padding-left: 29px;
}

ul#legislation_docs li a:link, ul#legislation_docs li a:visited{
    font-size: 14px;
    color: #e11b22;
    text-decoration: none;
}

ul#legislation_docs li a:hover{
    text-decoration: underline;
}

.inner_wrap h2 {
  color:#4D4D4D;
  font-family:Lato, arial, helvetica, sans-serif;
  font-size:15px;
  /*height:28px;*/
}

.inner_wrap p {
    padding: 12px 0;
}

.inner_wrap hgroup h2.address_right{
    width: 779px;
    text-align: right;
}

article.wish_list_record {
    padding: 13px;
    width: auto;
    overflow: hidden;
    border-bottom: solid 30px #FFFFFF;
}

.wl_col{
    display: inline-block;
    float: left;
    padding-right:13px;
}

.wl_col1{ width: 86px; }
.wl_col2{ width: 209px; }
.wl_col3{ width: 240px; }
.wl_col4{ width: 175px; padding-right:0 }

.wl_img {
    width: 84px;
    height: 84px;
    background: #FFFFFF;
}

.wl_more { padding-top: 29px; display: block;}
.wl_more a:link, .wl_more a:visited{ color: #e11b22; text-decoration: underline; font-size: 14px; }
p.wl_p { margin: 0; padding-top: 0; padding-bottom: 18px;}

h3.wl_title{ font-size: 14px; padding: 0; color: #343434; }
.wl_cost{ padding-bottom: 30px; }
p.wl_total{ padding:3px 0; font-size: 19px; color: #e11b22; font-weight: bold; }
.wl_col a:link, a:visited { text-decoration: underline; display: block; color: #343434; padding-bottom: 3px; }

.wl_col form {
    display: block;
    margin-top: 52px;
}


section footer.inner_wrap {
    background: none;
    height: auto;
    padding: 0px 0 55px;
    margin: 0;
}

.view_basket{
    display: block;
    background: url("../images/btn_view_basket.png") 0 0 no-repeat;
    width: 103px;
    height: 23px;
}

.wl_view_basket{
    display: inline-block;
    float: left;
    margin-top: 15px;
    
}

.wl_view_basket span{
    display: none;
}

p.wl_footer_links{
    width: 588px;
    float: left;
    display: inline-block;
    padding: 0;
}

p.wl_footer_links a:link, p.wl_footer_links a:visited{
    text-decoration: underline;
    color: #e11b22;
    font-size: 16px;
    font-weight: bold;
}























article.product_list_record {
    padding: 13px;
    width: auto;
    overflow: hidden;
    border-bottom: solid 52px #FFFFFF;
}

.pl_col{
    display: inline-block;
    float: left;
    padding-right:52px;
}

.pl_col1{ width: 251px; }
.pl_col2{ width: 247px; padding-top: 17px;}
.pl_col3{ width: 142px; padding-top: 17px; padding-right:0 }

.pl_img {
    width: 251px;
    height: 208px;
    background: #F2F5FA;
}

.pl_more { padding-top: 29px; display: block;}
.pl_more a:link, .pl_more a:visited{ color: #e11b22; text-decoration: underline; font-size: 14px; }
p.pl_p { margin: 0; padding-top: 0; padding-bottom: 18px;}

h3.pl_title{ font-size: 14px; padding: 0; color: #e11b22; }
.pl_cost{ padding-bottom: 30px; }
p.pl_total{ padding:3px 0; font-size: 19px; color: #e11b22; font-weight: bold; }
.pl_col a:link, a:visited { text-decoration: underline; display: block; color: #e11b22; padding-bottom: 3px; }

.pl_col form {
    display: block;
    margin-top: 18px;
}

.pl_col a.wl_add:link, .pl_col a.wl_add:visited{
    background: url("../images/arrow.png") no-repeat scroll 87px 14px transparent;
    padding: 9px 21px 9px 5px;
    text-decoration: none;
    width: 78px;
}

.pl_col a.wl_add:hover{
    text-decoration: underline;
}

h2.pl_product_title {
    color: #e11b22;
    font-size: 18px;
    font-weight: bold;
    padding-top: 18px;
    border-bottom: solid 20px #FFF;
}

h2.pl_product_title span{
    color: #343434;
    font-weight: normal;
}



/*31/10/2012 Start*/
#quoteCnrr{
	width:870px;
	float:left;
	padding:35px 0 30px 90px;
}
#quoteCnrr a{
	color:#E11B22;
}
#quoteCnrr h2{
	font-size:24px;
	color:#e11b22;
	font-weight:bold;
	line-height:16px;
	padding:10px 0 5px;
}
#quoteCnrr h2{
	font-size:24px;
	color:#e11b22;
	font-weight:bold;
	
	padding:0 0 5px;
}
#quoteCnrr p{
    padding:10px 0 0;
}

#quoteCnrr h2 span{
	font-size:24px;
	color:#e11b22;
	font-weight:bold;
	line-height:24px;
	padding:0 0 5px;
}
#qLft{
	width:382px;
	float:left;
	margin-right:17px;
	display:inline;
        margin-top: 15px;
}
#contLft{
	width:372px;
	float:left;
	margin-right:17px;
	display:inline;
        margin-top: 15px;        
}
#contLeft input {width: 375px;}
#contRgt{
	width:382px;
	float:left;
	border-top:none;
	padding:22px 0 20px 0;
        margin-top: 15px;
        
}
#oLft{
	width:382px;
	float:left;
	margin-right:10px;
	display:inline;
        padding: 0;
}

#oRgt{
	width:389px;
	float:left;
        padding: 0;
        margin-right: 88px;
	/*border:1px solid #d9d9d9;*/
	/*border-top:none;*/
	/*box-shadow: 0px 2px 2px #c4c4c4;*/
	/*background:url("../images/b_top.png") no-repeat center top;*/
	/*padding:34px 22px 20px 30px;*/
}
#oRdr{
	width:780px;
	float:left;
	margin-right:90px;
	display:inline;
}
.tpBox {
        width: 780px;
        float: left;
        height: 38px;
        background-color: #f2f5fa;
}
.bxOne{
	width:382px;
	float:left;
	margin-bottom:18px;
	display:inline;
	background:#f3f5fa;
}
.bxOne .redHd{
	width:382px;
	float:left;
	background:#e11b22;
	margin:0 0 12px;
	display:inline;
}
.bxOne .rdL{
	width:210px;
	float:left;
	font-size:13px;
	color:#fff;
	font-weight:bold;
	line-height:20px;
	padding:4px 0;
	margin-left:3px;
	display:inline;
}
.bxOne .rdL span{
	background:url("../images/wht-square.png") no-repeat left top;
	color:#e11b22;
	display:block;
	width:20px;
	height:20px;
	float:left;
	text-align:center;
	margin:0 3px 0 0;
}
.bxOne .rdR{
	width:50px;
	float:right;
	color:#fff;
	text-align:center;
	padding:6px 0 0;
}
.bxOne .rdR a{
	color:#fff;
	text-decoration:none;
}
.bxOne .rdR a:hover{
	color:#fff;
	text-decoration:underline;
}
#quoteCnrr .qt1{
	width:368px;
	float:left;
	padding:0 0 32px 12px;
}
#quoteCnrr .qt2{
	width:368px;
	float:left;
	padding:5px 0 10px 12px;
}
#quoteCnrr .qt3{
	width:368px;
	float:left;
	padding:0 0 20px 12px;
}
#quoteCnrr .qt4{
	width:368px;
	float:left;
	padding:0 0 15px 12px;
}
#quoteCnrr .rdTxt {
  color:#e11b22;
  font-weight:bold;
  margin:-8px 0 4px;
}
.sTxt{
	width:315px;
	padding:0 0 15px;
}
.cl{
	clear:both;
}
#quoteCnrr .signBx{
	width:240px;
	float:left;
	padding:4px 0 0;
}
#quoteCnrr .submitBx{
	width:76px;
	float:right;
	padding:8px 9px 0 0;
}
#quoteCnrr .qt4 input[type="submit"], .qt1 input[type="submit"] {
    background: url("../images/submit.png") no-repeat scroll left top transparent;
    border: medium none;
    cursor: pointer;
    float: left;
    height: 26px;
    width: 76px;
}
#qRgt{
	width:330px;
	float:left;
	border:1px solid #d9d9d9;
	border-top:none;
	box-shadow: 0px 2px 2px #c4c4c4;
	background:url("../images/b_top.png") no-repeat center top;
	padding:34px 22px 20px 30px;
        margin-top: 15px;
}
#qRgt .prnt{
	width:50px;
	float:right;
	line-height:11px;
	vertical-align:top;
	color:#717171;
	padding:0 0 5px;
	text-align:right;
}
#qRgt .prnt a{
	color:#717171;
	text-decoration:none;
}
#qRgt .prnt a:hover{
	color:#717171;
	text-decoration:none;
}
#qRgt .prnt img{
	margin:0 3px 0 0;
	vertical-align:bottom;
}
#qRgt h2{
	font-size:15px;
	color:#e33e2d;
	font-weight:bold;
	line-height:15px;
	padding:0 0 3px;
}
#qRgt .zTx{
	font-size:12px;
	color:#484848;
	padding:0 0 12px;
}
#qRgt h3{
	font-size:13px;
	color:#e11b22;
	font-weight:bold;
	line-height:13px;
	padding:0 0 5px 5px;
	border-bottom:1px solid #d1d1d1;
	margin:0 0 2px;
}
#qRgt h3 span{
	width:80px;
	float:right;
	font-size:11px;
	color:#717171;
	text-align:right;
	font-weight:normal;
	background:url("../images/arrow.png") no-repeat right 3px;
	padding-right:13px;
}
#qRgt h3 span a{
	color:#717171;
	text-decoration:none;
}
#qRgt h3 span a:hover{
	color:#e11b22;
	text-decoration:none;
}
#qRgt h3 .rArr{
	color:#e11b22;
}
#qRgt p{
	color:#4d4d4d;
	padding:0 0 7px;
	line-height:16px;
}
#qRgt p a{
	color:#4d4d4d;
	text-decoration:none;
}
#qRgt p a:hover{
	color:#e11b22;
	text-decoration:none;
}
#qRgt .binBx{
	width:330px;
	float:left;
	padding:5px 0 16px;
}
#qRgt .binL{
	width:95px;
	float:left;
	margin:0 18px 0 0;
	display:inline;
}
#qRgt .binL img{
	background:#fff;
	padding:3px;
	border:1px solid #f5f5f6;
}
#qRgt .binR{
	width:200px;
	float:left;
}
#qRgt .binR p{
	padding:0 0 3px;
}
#qRgt .heading1{
	color:#4d4d4d;
	font-size:16px;
	font-weight:bold;
	line-height:20px;
	padding:0 0 5px;
}
#qRgt .heading1 span{
	color:#e11b22;
}
#qRgt .viewL{
	font-size:12px;
	color:#e11b22;
	width:83px;
	float:left;
	background:url("../images/arrow2.png") no-repeat right 3px;
}
#qRgt .viewL a{
	color:#e11b22;
	text-decoration:none;
}
#qRgt .viewL a:hover{
	color:#000;
	text-decoration:none;
}
#qRgt .ordR{
	width:169px;
	height:26px;
	float:right;
}
/*31/10/2012 End*/

#edit_address{
    position: relative;
    display: inline-block;
    top: 6px;
    padding-left: 15px;
}

#basket_address {
    border-bottom: solid 40px #FFF;
}

.basket_total {
    width: auto;
    overflow: hidden;
    font-size: 18px;
    font-weight: bold;
    color: #343434;
    border-bottom: solid 40px #FFF;
}

.basket_count{
    width: 450px;
    float: left;
}

.basket_weekly_total{
    color:#e11b22;
    width: 192px;
    float: right;
    font-size: 16px;
}

ul.register_list {
    overflow: hidden;
    width: auto;
    padding-bottom: 15px;
}

li.register_group{
    width: 310px;
    display: inline-block;
    float: left;
    position: relative;
}

li.register_group label, li.register_group input[type="text"], li.register_group input[type="password"]{
    display: inline-block;
    width: 286px;
    padding-left: 0px;
}

li.register_group input[type="text"], li.register_group input[type="password"]{
    padding-left: 5px;
}

li.register_group label {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 6px;
}

#register-remember {
    width: 110px;
    padding-right: 235px;
}

#register-remember label {
    float: right;
    width: auto;
}

#register-remember input, .checkbox input {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    top: 5px;
}

.checkbox input {
    margin-right: 5px;
}


#register-continue input, #forgot-pw-continue input {
    float: right;
    margin: 0;
    padding: 0;
}

#register-remember, #register-continue {
    padding-top: 25px;
    border-bottom: solid 1px #FFF;
}

#register-continue {
    width: 295px;
}

#forgot-pw-continue {
    width: 295px;
    padding-top: 25px;
}

#reset-continue {
    width: 640px;
    border-bottom: solid 1px #FFF;
}

#reset-continue input {
    float: right;
    margin: 0;
    padding: 0;
}

input[type="text"].normal_error,input[type="password"].normal_error {
    background: url("../images/error_red_icon.png") no-repeat scroll 6px 7px #FFFFFF !important;
    color: #FF0000;
    padding-left: 24px !important;
    width: 267px !important;
}


ul.forgot_list {
    overflow: hidden;
    padding-bottom: 15px;
    width: auto;
    border-bottom: solid 1px #FFF;
}
.bblack { background: #000000;}
.logout {width: 180px; height: 20px;}
#red-nav { 
    width: 960px;
    height: 25px;
    background-color: #e11b22;
    border-bottom: thin solid black; 
}
#red-nav a { text-decoration: none; color: white;}
#red-nav a:hover { text-decoration: underline; color: #404041;}
.nav1 { color: white; padding: 4px 18px 0 10px;}
.homepage { padding: 3px 10px 0 70px;}
#contacts { color: white; text-align: right; font-size: 1.6em; padding-right: 30px; font-weight: normal;}
.fs04 {font-size: .95em;}
.fred {color: #e11b22;}
.tal {text-align: left;}
.pr30 { padding-right: 30px;}
.noshow {visibility:hidden;}
.none { display: none;}
.cursor { cursor: pointer;}
.ul {text-decoration: underline;}
.w100 {width: 100%;}
.w50 {width: 60%;}
.fp5 {padding: 5px;}
.byellow{ background-color: yellow;}
.h20 {height: 40px; padding:5px 0;line-height: 22px;}
.error {border: thin solid red; background: lightyellow;}
.orderService {width: 140px; /*border-right: solid thin black;*/ }
.orderWaste {width: 180px; /*border-right: solid thin black;*/}
.orderDescription {width: 205px; /*border-right: solid thin black;*/}
.orderCost {width: 130px; /*border-right: solid thin black;*/}
.ared a {color: #E11B22;}
.orderDate {width: 120px; vertical-align: top; }
#oRdr p {padding: 10px 5px 5px 10px;}
.fs11 {font-size: 1.1em; font-weight: bold;}
.fs20 {font-size: 1.05em;}
.orderline{ width: 780px;
        float: left;
        height: auto;
        padding: 5px; 
}

.dinput {width: 65px; }
#servicesToOrder {height: auto; float: left;}
#orderSummary {width: 775px; float: left; height: auto; min-height: 200px; padding: 15px 0 30px; vertical-align: bottom; background: url("../images/post-it-note.png") no-repeat left top;  }
#orderSummary span { color: #E11B22;}
.orderSummary { margin-right: 5px; float: right;padding-top: 8px; }
.totals {font-size: 1.15em; float: right;  }
.ddtotal {font-size: 1.15em; float: right; width: 100%; padding: 15px 0 30px;}
.uftotal {font-size: 1.15em; float: right; width: 100%; padding: 0;}
#upfrontCost {width: 775px; float: left; height: auto; padding: 0 0 30px; vertical-align: bottom;}
#upfrontCost span { color: #E11B22;}

.he20{height: 20px;}
.leftupfront { width:400px; float: left; margin-right: 40px;}
.divdiv {width: 780px; border-bottom: dotted thin grey; height: 6px; float: left;}
.divdivsm {width: 360px; border-bottom: dotted thin grey; height: 6px; float: left; margin-bottom: 10px;}
.vat {vertical-align: top;}
#tpBox p { padding: 0;}
.pt5 {padding-top: 15px;}
.p5 {padding: 5px;}
.pb10 {padding-bottom: 10px;}
.pl15 {padding-left: 15px;}
.pl17 { padding-left: 12px;}
.pr88 { padding-right: 88px;}
.pr20 { padding-right: 20px;}
.pb5 {padding-bottom: 5px; line-height: 20px; vertical-align: top;}
.bgb {background-color: #f2f5fa;}
#orgOuter {width: 760px; margin-right: 88px; min-height: 45px; background-color: #f2f5fa; float: left; padding: 10px;}
.orgline{ width: 780px; float: left; height: auto; padding: 5px;}
.org1 {width:130px;}
.org2 {width:80px;}
.org3 {width:160px;}
.org4 {width:98px;}
.org5 {width:210px;}
.org6 {}
.mt10 {margin-top: 10px;}
.m0 { margin: 0 auto;}
.tittle {margin: 15px 0 15px; float: left; width: 860px;}
.tittle1 {float: left; width: 384px;margin-top: 15px;}
.detWidth {width: 140px; font-weight: bold;}
.fgrey {color: #404041;}
.highlight {           
            padding: 5px 10px 5px 22px;
            color: #FFFFFF;
            font-size: 13px;
            font-weight: bold;
            line-height: 20px;
            margin: 6px 0 0 0;
            border-radius: 7px;
            background: url("../images/arrowleft.png") left no-repeat #E11B22;
}
.smaller {font-size: .9em;}
.pb50 {padding-bottom: 50px;}
.bred {background-color: red;}
.bob { border-bottom: solid medium darkgrey;}
.txt4{
	width:158px;
	float:left;
        height: 22px; 
        padding: 3px 0;
        color: #484848;
        font-size: 12px;
}
.txt2{ 
        color: #484848;
        font-size: 12px;
}

.fild1 { width: 150px; float: right;height: 19px;padding: 3px; border: 1px solid #C2C2C2}
.ffout {width: 368px; height: 30px; vertical-align: middle; text-align: left; float: left;}
.cbout {width: 170px; height: 30px; vertical-align: middle; text-align: left; float: left;}
.cbout2 {width: 198px; height: 30px; vertical-align: middle; text-align: left; float: left;}
.cbout3 {width: 228px; height: 30px; vertical-align: middle; text-align: left; float: left;}
.pl30 { padding-left: 30px;}
.qbox { width: 35px;}
.selectBin { color: #484848; width: 200px; margin: 0 9px 9px 0; font-family: 'Lato', arial, helvetica, sans-serif;}
.pt30 { padding-top: 40px;}
.pt20 { padding-top: 20px;}
.pt10 { padding-top: 10px;}
.pr100 {padding-right: 100px;}
.pr10 {padding-right: 10px;}
.mb10 {margin-bottom: 10px;}
.mb30 {margin-bottom: 30px;}
.pt4 {padding-top: 4px;}
.blockUI h3 { color: #fff;}
.tar { text-align: right;}
.w380p { width: 385px;}
.w60 { width: 60px;}
.pt15{padding-top: 15px;}
.smallerx {font-family: "Lato",Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: normal;}
.resultitem { width: 100%; padding: 5px 30px 15px 0;}
.reshead{ color: #E11B22; text-decoration: underline;}
.reshead a { color: #E11B22;}
.resbody { color: #808284;}
#addressBox{width: 367px; background-color: #F3F5FA; height: 160px; margin-bottom: 20px; padding: 15px 0 0 15px;}
#addressBox h1 {color: #E11B22; font-size: 1.2em;}
.vam {vertical-align: middle;}
.productTypeOut{ width:785px; margin-top: 25px;}
.productTypeOut p { padding:0; padding-bottom: 10px; margin: 0;}
.productTypeOut h2 { color:#E11B22; margin-bottom: 10px;}
.productTypeOut h3 { color:#E11B22; margin-bottom: 0; font-size: 12px; padding-top: 15px;}
.productType{ background-color: #F3F5FA;width:785px; min-height: 150px; }
.productType h2 { color:#E11B22;}
.backgrey {background-color: #F3F5FA; }
.prodPt1 { width: 300px; min-height: 100px;}
.prodPt2 { width: 325px; min-height: 100px; padding-right: 10px;}
.prodPt3 { width: 150px; height: 100%;}
.prodPt3 ul {padding: 10px 0 15px 0; margin: 0;}
.prodPt3 ul li {list-style: none; line-height: 12px;}
.prodPt3 ul li p{margin: 0; padding: 0; padding-bottom: 6px;}




/* line 6, ../sass/lightbox.sass */
#lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  display: none;
}

/* line 15, ../sass/lightbox.sass */
#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: normal;
}
/* line 24, ../sass/lightbox.sass */
#lightbox img {
  width: auto;
  height: auto;
}
/* line 27, ../sass/lightbox.sass */
#lightbox a img {
  border: none;
}

/* line 30, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: white;
  zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 39, ../sass/lightbox.sass */
.lb-container {
  padding: 10px;
}

/* line 42, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 51, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 59, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 62, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 65, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  /* Trick IE into showing hover */
  display: block;
}

/* line 72, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
}

/* line 76, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
}

/* line 81, ../sass/lightbox.sass */
.lb-prev:hover {
  background: url("../images/prev.png") left 48% no-repeat;
}

/* line 85, ../sass/lightbox.sass */
.lb-next:hover {
  background: url(../images/next.png) right 48% no-repeat;
}

/* line 88, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 95, ../sass/lightbox.sass */
.lb-data {
  padding: 0 10px;
  color: #bbbbbb;
}
/* line 98, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 103, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 107, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 11px;
}
/* line 112, ../sass/lightbox.sass */
.lb-data .lb-close {
  width: 35px;
  float: right;
  padding-bottom: 0.7em;
  outline: none;
}
/* line 117, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
}
#addressEdit a {color: #FFFFFF;}
#userEdit a {color: #FFFFFF;}
.allin { padding: 0; margin: 0; font-size: 1.4em; line-height: 1.8em;}