* { 
	margin: 0; 
	padding: 0; 
}
body { 
	font: 14px/1.4 Georgia, Serif; 
}
#page-wrap {
	margin: 50px;
}
p {
	margin: 20px 0; 
}

	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: #eee; 
	}
	th { 
		//background: #333; 
                background-color:#ddddff;
		//color: white; 
                color: #000;
		font-weight: bold;
                padding:10px !important;
                text-align: center !important;
	}
	td, th { 
		//padding: 6px; 
                padding: 1px; 
		border: 1px solid #ccc; 
		text-align: left;
                word-wrap: break-word;
               
                //width:350px;
	}
        
         