/*** Loader **/
.loaderPageant{
top:250px;position:fixed;left:500px
}
.account-pagent
{
    top:400px;
    left:100px;
}
/** Popup **/
.ui-widget-content{
 color:#000;   
}
/*** Sidebar ***/
.sidebarService #sidebarDiv
{
    margin-top:-600px;
}
.sidebarModuleHeader h2{
    color: #423208;
    //font-size: 18px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 30px;
    font-family: "Montserrat",sans-serif;
    text-align:center;
}
.sidebarModuleBody  a {
    color: #423208;
    text-decoration: none;
}
.sidebarModuleBody select{
    margin-left:5px;
    width:90%;
    height:35px;
}

.sidebarModuleBody input{
   // width: 150px;
   width:60%;
    margin-left:5px;
}
.searchGo{
//width: 50px !important;
width: 10% !important;
margin-top: -5px;
}
.sidebarModuleBody input[type="text"]{
    height:25px;
}
.searchFooter a{
    margin-left:20px;
    padding:2px;
}
.searchDiv{
    background-color: #eeeeff;
    border-radius: 10px;
    width: 230px;
    
}
.recentItemModule{
    background-color: #eeeeff;
    border-radius: 10px;
    width:230px;
}
.messageModule{
    background-color: #eeeeff;
    border-radius: 10px;
    width:230px;
}
.mailMsg p{
    margin-left:20px;
    padding-bottom:10px;
}
 .mruIcon {
    background-image: url("../images/extended/generic16.png");
    height: 16px;
    width: 16px;
}
.recentItem{
     overflow:hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        width:200px;
        padding-bottom: 10px;
}
.recentItem a, .recentItem a span{
     overflow:hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        height:33px;
        width:200px;
        margin-left:10px;
        
}
/**** Account List ***/

.filter {
     margin-left:15px;
}
.bPageTitle h1{
    color: #423208;
    font-size: 24px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 30px;
    //margin-top:15px;
    margin-top:-13px;
    font-family: "Montserrat",sans-serif;
}
.viewTypeLabel{
    text-align:left;
    font-weight:bold;
    padding-right:.69em;
    width:150px;
}
#viewType{
     margin-left: 50px;
    margin-top: -30px;
}
.list{
    margin-left: 15px;
    margin-top: 10px;
}
.fewerMore{
    margin-left: 15px;
    margin-top:5px;
}
.fewerMore a{
    color: #423208;
    font-weight: bold;
    text-decoration: none;
}
.fewerMore a:hover{
    text-decoration: underline;
}
.list th a{
    color:#555;
    font-family: "Montserrat",sans-serif;
}
.list th {
    color:#555;
    font-family: "Montserrat",sans-serif;
    border-bottom: 1px solid #555;
    width:12.5%;
    //width:150px;
}
.addColorSpan{
    background-color: #cdcdcd;
}
.sortAsc {
    background-image: url("../images/extended/sort_asc_arrow.gif");
    background-position: 0 0;
    height: 14px;
    vertical-align: text-top;
    width: 21px;
    display:none;
}

.sortDesc {
    background-image: url("../images/extended/sort_desc_arrow.gif");
    background-position: 0 0;
    height: 14px;
    vertical-align: text-top;
    width: 21px;
}
.oRight{
    padding:20px;
}
.error{
     color:red !important;
}
/*** Account Information **/
.accountTitle, services h1, .contentBlock h1{
    //color: #423208;
    color: #1e1e1e;
    font-family: "Montserrat",sans-serif;
    font-size: 24px;
    //font-weight: 500;
    line-height: 22px;
    margin-bottom: 30px;
   // padding: 10px 20px;
   
}
.accountTitleH3{
    color: #423208;
    font-family: "Montserrat",sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 30px;
}
.accountTitle a{
    color: #423208;
}
.accountTitle a:hover{
    color: #423208 !important;
 }
 .contentBlock{
     margin-left:15px;
 }
 .bodyPage{
        position: relative;

 }
 /*** Contact list **/
 .contactListH{
     margin-left: 300px;
    margin-top: -40px;
 }
 
.bDescription {
    font-size: 109%;
    padding: 0.8em 0;
    text-align: left;
}
.buttonList{
    float:right;
}
 /***Common ***/
 #sidebarCell{
     vertical-align: top;
      background-color: transparent;
      // color: #777;
       line-height: 20px;
    margin: 0;
    padding: 0;
     width: 230px;
 }
 #bodyCell{
     background: #fff none repeat scroll 0 0;
     padding: 20px;
     vertical-align: top;
      //color: #777;
      //border: 0 none;
       font-size: 100%;
    line-height: 20px;
    margin: 0;
    //margin-left:10px;  
 }
 .sidebarCell{
     vertical-align: top;
      background-color: transparent;
      // color: #777;
       line-height: 20px;
    margin: 0;
    padding: 0;
    // width: 230px;
    width: 20%;
 }
 .bodyCell{
     background: #fff none repeat scroll 0 0;
     padding: 20px;
     vertical-align: top;
      //color: #777;
      //border: 0 none;
       font-size: 100%;
    line-height: 20px;
    margin: 0;
    //margin-left:10px;  
 }
   /** View Account **/
   .mainTitle{
       border-bottom: 1px solid #eee;
    color: #1570a5;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 12px;
    padding-bottom: 4px;
    text-decoration: none;
   }
.subTitle{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #444;
    font-size: 16px;
    margin: 10px 0;
    line-height: 20px;
    padding: 0;
    vertical-align: baseline;
    font-family: "Montserrat",sans-serif;
   }
.pbSubsection{
        border: 1px solid #ccc;
    margin-bottom: 30px;
 font-size: 100%;
    line-height: 20px;
 padding: 0;
    vertical-align: baseline;
  color: #999;
    font-size: 1.1em;
    letter-spacing: -0.01em;
    position: relative;
text-overflow: ellipsis;
   }
   
   .labelCol{
       background: #dfdfdf none repeat scroll 0 0;
    padding: 5px;
    font-weight: bold;
    line-height: 20px;
      color: #555;
       
     font-family: "Montserrat",sans-serif;
     width: 18%;
     vertical-align: top;
     text-align: right;
     font-size: 91%;
    
   }   
   .detailList{
       width:100%;
   }
   .detailList td{
       border-bottom: 1px solid #ccc;
        vertical-align: top;
        margin: 0;
        font-weight: normal;
   }
   
   .list td{
       border-bottom: 1px solid #ccc;
   }
   /*** Contact List ***/
   .contact-btn{
       float:right;
       margin-bottom:150px;
   }
   .contactTitle{
       width:250px;
   }
   /*** Pagination ***/
   .paginations,.paginationLinks{
       float:right;
   }
   .paginations a{
         color: #423208;
        text-decoration: none;
   }
   .paginations a:hover{
         
        text-decoration: underline;
   }
   .pageContact{
       margin-top:-40px;
   }
  .contact-list-res .dataCell{
       word-wrap: break-word;
       width:12.5%;
       padding-left:5px;
   }
   .sortClass,.sortOrders{
       cursor:pointer !important;
   }
   .pbError{
       color:red;
   }
    #map-canvas {
        height:400px,
		width:100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
      .addrMap{
          width:150px;
      }
      .dataCol{
          width: 32%;
            vertical-align: top;
              padding: 2px 2px 2px 10px;
    text-align: left;
    line-height: 20px;
      margin: 0;
     //color: #777;
      }
      .btn{
           background: #1570a5 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    margin: 0;
    padding: 8px 10px;
    display: inline;
    font-family: "Verdana","Geneva",sans-serif;
      }
      .btn:hover,.btn:focus{
           background: #1570a5 none repeat scroll 0 0;
           color: #fff;
      }
      .pbButton{
          text-align: right;
           padding: 1px 0;
    vertical-align: middle;
     border: 0 none;
    font-size: 100%;
    line-height: 20px;
    margin: 0;
      }
      .titleWidth{
          width:20%;
      }
      .buttonWidth{
          
          float: right;
    margin-right: 10px;
    margin-top: -42px;
    text-align: right;
    width: 80%;
      }
      .buttonEdit{
          margin-top:0px;
      }
      .buttonCaseDiv{
          float:right;
          text-align: right;
      }
      .infoTable {
           background-color: #666;
            text-align: left;
            border-collapse: collapse;
            border-spacing: 0;
      }
      .infoTable th{
          background-color: #ccc;
    border: medium none;
    
    font-weight: bold;
    margin: 1px;
    padding: 3px;
    white-space: nowrap;
    line-height: 20px;
    vertical-align: baseline;
    text-align: left;
      }
      .infoTable td {
          white-space: normal;
          background-color: #fff;
          border-color: #ddd;
          border-style: solid;
    border-width: 0 1px 1px 0;
    margin: 1px;
    padding: 4px;
      vertical-align: top;
      }
      .requiredDiv{
          float:right;
          text-align: right;
      }
      .requiredBlock{
            background-color: #c00;
    //bottom: 1px;
    //left: -4px;
    //top: 1px;
    position: absolute;
    margin-top: 3px;
   height: 28px;
    width: 3px;
          
      }
   .requiredExample {
    border-left: 3px solid #c00;
    font-size: 80%;
    vertical-align: 1px;
    width: 100%;
    }
    .requiredMark {
    color: white;
    display: inline;
    position: absolute;
}
.caseTextarea{
    border: 1px solid #bbb;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    padding: 6px;
    width:80%;
}
/** Account Lookup ***/
 .headerRowH2{
        background-color: #000;
        color:#fff;
        font-family: "Montserrat",sans-serif;
        font-size:15px;
        padding:5px;
    }
 #searchBlock{
        color:#000;
        font-family: "Montserrat",sans-serif;
        font-size:12px;
    }
.pageLookTitle {
    color: #423208;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 30px;
    margin-top:15px;
    font-family: "Montserrat",sans-serif;
    margin-left:15px;
}
.lookup th{
    font-size:12px;
    color:#212121;
} .lookup td{
    font-size:12px;
    color:#414141;
}
.lookupIcon {
    background-image: url("../images/extended/lookup20.gif");
    background-position: left top;
    height: 20px;
    width: 20px;
    margin-right: 25px;
    margin-top: 5px;
    float:right;
}
.ui-corner-all:hover{
    text-decoration: none;
}
.btn-view-case{
    margin-top:-15px;
}
/*! Light */
#light {
    background-color: #000;
    box-shadow: 0 0 5px rgba(0,0,0, .8);
    overflow: hidden;
    padding: 0 0 4px;
    //width: 40px;
    width:100px;
}

#light span {
    border-radius: 50px;
    //display: block;
    display: table-cell;
    height: 30px;
    margin: 4px auto 0;
    opacity: .5;
    width: 30px;
}

/*! Light colours */
#red    { background-color: red; }
#orange { background-color: orange; /*margin-left:30px !important; margin-top:-30px !important;*/ }
#green  { background-color: green; /*margin-left:30px !important; margin-top:-60px !important;*/
}

/*! Active states */
#light span.active    { opacity: 1; }
#light #red.active    { box-shadow: 0 0 10px red; }
#light #orange.active { box-shadow: 0 0 10px orange; }
#light #green.active  { box-shadow: 0 0 10px green; }

/*! Toggle button */
/*button {
    margin-top: 10px;
}*/
.helpOrb{
    background-image: url(../images/extended/helpOrbs.gif);
    background-position: 0 0;
    width: 20px;
    height: 15px;
     position: absolute;
}
.addDocButtonList{
    margin-top:-45px;
}
.docWidth{
    width:30%;
}
.bPageTitle h2{
     color: #423208;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 30px;
   // margin-top: -13px;
}
.addDocDiv {
    width:100%;
}
.addDocDiv label{
    background-color: #cdcdcd;
    width:13%;
    margin-left:10px;
    margin-top: 10px;
    padding: 5px;
    color: #494949;
}
.addDocDiv input{
   margin-left: 150px;
    margin-top: -50px;
}
.addGoogleDivs span{
    margin-left:10px;
    line-height: 20px;
     border-bottom: medium none;
}
.addDocDiv a{
    margin-left: 150px;
    margin-top: -50px;
}
.addGoogleDivs br{
    clear:both;
    margin-bottom: 10px;
}
.addGoogleReq{
    margin-left: 150px;
    margin-top: -35px;
    height:30px;
}
#searchBlock input[type="text"]{
   height: 35px !important;
    margin-left: 15px;
    margin-top: 15px;
}
.searchText label{
    width:150px;
}
.searchTextInput{
    margin-left: 60px;
    margin-top: -25px;
}
.nameCell{
    cursor:pointer;
}
.searchText{
    margin-left:15px;
}
.noteRequiredDiv{
     margin-bottom: 10px;
}
.leftNoteDiv{
    background-color: #cdcdcd;
   // height: 450px;
    height: 455px;
    width: 10%;
}
.leftNoteDiv label{
    float:right;
    margin-top:5px;
     color: #494949;
}
.rightNoteDiv{
   // height: auto;
   height:460px;
    margin-left: 100px;
    //margin-top: -452px;
    margin-top: -459px;
    //position: sticky;
    width: 70%;
    position:absolute;
}
.titleNoteDiv{
    margin-top:17px;
}
.titleNoteDiv span{
    margin-left:-5px;
}
#noteTitle{
     //margin-top: -35px;
     //width: 550px;
     width:85%;
}
#noteBody{
     //margin-top: -17px;
     //width: 550px;
     width:85%;
}
.bodyTextDiv  {
  //  margin-top:6px;
    margin-top:15px;
}
.titleNoteDiv span.error {
    //margin-top: 2px;
    margin-top: -15px;
    position: absolute;
}
/*.addNoteDiv{
    margin-left:15px;
}*/
.addAttachDiv{
    margin-left:20px;
    margin-top:50px;
}
.attachEle{
    margin-bottom:10px;
    font-family: "Montserrat",sans-serif;
    
}
div.attachEle label{
    line-height: 20px;
    font-weight: bold;
    //color:#666;
    color:#777;
       font-family: "Montserrat",sans-serif;
}
div.attachEle p{
    line-height: 20px;
    color:#777;
    font-size:12px;
    font-family: "Montserrat",sans-serif;
}
.leftAttachDiv{
    background-color: #cdcdcd;
   // height: 450px;
    //height: 150px;
    width: 10%;
}
.leftAttachDiv label{
    float:right;
    margin-top:5px;
     color: #494949;
}
.attachListDiv{
    margin-top:-100px;
}
.addAttachLists{
    display: table-cell;
   margin-top: 110px;
}
.leftAttachesDiv{
   background-color: #cdcdcd;
    width: 30%;
    line-height: 20px;
    height:60px;
}
.addAttachList{
    border: 1px dotted #444444;
}
.leftAttachesDiv label{
    float:right;
     margin-top: 5px;
     color: #494949;
}
.rightAttachesDiv{
    display: table-caption;
    margin-left: 100px;
    margin-top: -60px;
    position: relative;
    line-height: 20px;
}
.detailListAddAttach tr{
    border: 1px solid #ccc;
}
.topButton{
    text-align: center;
    margin-bottom: 10px;
}
.showMoreContactAct,.showMoreCaseAct{
    cursor:pointer;
}
.btn.newContact {
    margin-top: -10px;
    margin-bottom: 10px;
}
.contentSub{
    display:table-cell;
}
/*** Portal Home ***/
.homeTag{
  border-bottom: 1px solid #eee;
    color: #1570a5;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 12px;
    padding-bottom: 4px;
    text-decoration: none;
    vertical-align: baseline;
     font-family: Helvetica,Arial,sans-serif;
    
}
.homeTag:hover{
    color: #1570a5;
}
.home-mgmt{
    width:900px;
}
.home-mgmt li{
    text-decoration: none;
    list-style: none;
        border: 0 none;
    font-size: 100%;
    line-height: 20px;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
.homeSubTag{
     color: #423208;
    text-decoration: none;
     border: 0 none;
    font-size: 100%;
    line-height: 20px;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
.homea{
 color: #423208;
    text-decoration: none;
    word-wrap: break-word;
}
.homea:hover{
 color: #423208;
 text-decoration: underline;
}
.mainHomeClass{
    width:100%;
}
.mainHomeClass div{
   // width:10%;
   width:450px;
    display: table-cell;
    padding:5px;
}

/**** Account Home ***/
.actTag{
  border-bottom: 1px solid #eee;
    color: #1570a5;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 12px;
    padding-bottom: 4px;
    text-decoration: none;
    vertical-align: baseline;
     font-family: Helvetica,Arial,sans-serif;
    
}
.actTag:hover{
    color: #1570a5;
}
.mainAcctClass{
    width:100%;
}
.mainAcctClass div{
   // width:10%;
   width:450px;
    display: table-cell;
    padding:5px;
}
.mainAcctClass p{
      font-family: Helvetica,Arial,sans-serif;
       margin-bottom: 18px;
       border: 0 none;
    font-size: 100%;
    line-height: 20px;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/**** Service  Home ***/
.serviceTag{
  border-bottom: 1px solid #eee;
    color: #1570a5;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 12px;
    padding-bottom: 4px;
    text-decoration: none;
    vertical-align: baseline;
     font-family: Helvetica,Arial,sans-serif;
    
}
.serviceTag:hover{
    color: #1570a5;
}
.mainServiceClass{
    width:100%;
}
.mainServiceClass div{
   // width:10%;
   width:450px;
    display: table-cell;
    padding:5px;
}
.mainServiceClass p{
      font-family: Helvetica,Arial,sans-serif;
       margin-bottom: 18px;
       border: 0 none;
    font-size: 100%;
    line-height: 20px;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
.accountListView{
    margin-bottom: 10px;
}
.accountListViews{
margin-left: 5px;
 margin-bottom: 10px;
}
 /*** View Account ***/
 .viewPage{
   //  width: 950px;
   width:100%;
 }
 .accountDets
 {
     //width: 950px;
     width:100%;
    display: inline-table;
 }
 .accountDetsDet
 {
     //width:50%;
     /*width:475px;
     display: table-cell;
      margin: 0;
    padding: 0;
    vertical-align: top;*/
     width:50%;
     //width:475px;
     display: table-cell;
      margin: 0;
    padding: 0;
    vertical-align: top;
 }
 .eachAccountDetsDet{
     //width:100%;
     //width:inherit;
     width:100%;
     display: inline-table;
 }
 .mapAddress{
     height: 100px;
 }
 div.mapAddress div.labelColItem, div.mapAddress div.oddDivAccount{
        height: inherit;
 }
 .eachAccountDetsDet div{
     //width:50%;
      
   //width:237.5px;
     //display: table-cell;
     width: 30%;
     display: table-cell;
 }
 .mapDiv { 
     width:475px;
 }
 .mapDivLabel{
     width:5%;
 }
  .eachAccountDetsDet label{ 
      float:right;
        min-height: 35px;
  }
 .labelColItem{
       background: #dfdfdf none repeat scroll 0 0;
    padding: 5px;
    font-weight: bold;
    line-height: 20px;
    color: #555;
     font-family: "Montserrat",sans-serif;
    // width: 28%;
     vertical-align: top;
     text-align: right;
     font-size: 91%;
     
      border-bottom: 1px solid #ccc;
    //font-weight: normal;
    margin: 0;
    vertical-align: top;
    
   }
   .oddDivAccount
   {
       height: inherit;
        background: #eee none repeat scroll 0 0;
   }
   .evenDivAccount
   {
        background: #fff none repeat scroll 0 0;
   }
   
   .accountSpan{
       word-wrap: break-word;
   }
   #attachBody{
      // margin-top: -40px;
      margin-top:10px;
    //width: 550px;
    width:100%;
   }
   .leftAttachDiv{
    background-color: #cdcdcd;
   //    height: 455px;
   height:280px;
    width: 10%;
}
.leftAttachDiv label{
    float:right;
    margin-top:5px;
     color: #494949;
}
.rightAttachDiv{
   // height: auto;
   height:280px;
    margin-left: 100px;
    
    
    //margin-top: -459px;
    margin-top: -281px;
    position: absolute;
    width: 70%;
}

.titleAttachDiv span{
    margin-left:-5px;
}
#attachTitle{
     //margin-top: -43px;
    // width: 550px;
    width:100%;
}
 .fileSizeDiv{
         margin-top: 170px;
   }
   .addAttachDivs span{
   // margin-left:10px;
    margin-left:1px;
    line-height: 20px;
     border-bottom: medium none;
}
.titleAttachDiv {
    margin-top: 10px;
}
.fewerService,.moreService,.fewerAccount, .moreAccount,
.fewerContact,.moreContact,.fewerCaseContact, .moreCaseContact,
.selectorToggle,.attachFewerList, .attachMoreList,.showMoreServiceAct,
.fewerCase, .moreCase{
    cursor:pointer;
}
.serviceTitle h1{
    margin:0 !important;
}
#log,#pwd,#pass1, #pass2{
      height: 35px;
}
/** Advanced Search **/
.advSearchClass{
    width:100%;
}
.advSearchClass div{
   // width:10%;
   width:750px;
    //display: table-cell;
    padding:5px;
}
.advSearchItem{
    width:80px !important;
    display: table-cell;
    padding:5px;
}
.advSearchItem input{
    margin-top: -5px;
}
.advSearchClass p{
      font-family: Helvetica,Arial,sans-serif;
       margin-bottom: 18px;
       border: 0 none;
    font-size: 100%;
    line-height: 20px;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
.filter{
    margin-top:10px;
}
.note480{
    margin-left:100px;
}
.note768{
    margin-left: 155px;
}
.note240320{
   // margin-left:95px;
    margin-left:70px;
}
.notedesk{
    margin-left: 280px;
}
.attach480{
    margin-left:100px;
}
/*** Account ***/
.listItem{
    background-color: #582;
    margin-bottom: 2px;
    margin-right: 5px;
    padding: 5px;
    color: #fff;
    cursor:pointer;
    line-height: 35px;
}
.activeAlpha{
    background-color: #c73;
}
.alphaDiv{
    margin-top:10px;
}
.paginationRight{
    margin-top:20px;
}
.copyAddress{
    float:right;
    margin-top:-50px;
    color:#123;
}
/*** View Case **/
.caseDets
 {
     //width: 950px;
      width:100%;
    display: inline-table;
 }
 .caseDetsDet
 {
     
  /*   width:475px;
     display: table-cell;
      margin: 0;
    padding: 0;
    vertical-align: top;*/
   width:50%;
     //width:475px;
     display: table-cell;
      margin: 0;
    padding: 0;
    vertical-align: top;
 }
 .eachCaseDetsDet{
     width:100%;
     display: inline-table;
     //width:inherit;
 }
 .eachCaseDetsDet div{
     //width:50%;
      
   /*width:237.5px;
     display: table-cell;*/
   
   width: 30%;
     display: table-cell;
 }
 .eachCaseDetsDet label{ 
      float:right;
      min-height: 35px;
  }
div.oddDivCase{
        height: inherit;
         background: #eee none repeat scroll 0 0;
 }
  
   .evenDivCase
   {
        background: #fff none repeat scroll 0 0;
   }
    .caseSpan{
       word-wrap: break-word;
   }
   .paginationAlphaContact{
       margin-top:10px;
   }
   .activeCont{
       text-decoration: underline !important;
   }
   
   .activeSort{
       display:block !important;
   }
   .listItemPad{
       margin-bottom:5px;
   }
   
   /*** Popup **/
   .largeWin{
    padding:20px; 
    background-color:#fff;	
    border:1px solid #ccc;	
    display:none;	
    z-index: 99999; 
    width:400px; 
    height:400px; 
    position:absolute; 
    //overflow:scroll;
}
#mask { 
    display: none;
    background: #666;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    -moz-opacity:0.80;
    opacity:0.80;
    z-index: 999;
}
.close{
    font:2em tahoma; 
    color:red; 
    text-decoration:none;
}
/**** ***/
.popServiceDets{
    display:table-cell;
    width:50%;
}
.popServiceDetsSub{
    display:block;
    //width:50%;
}
.popServiceDetsSubHead{
    display:block;
}
.popServiceDetsSub label{
    width:20%;
    display:unset;
}
.popServiceDetsSub span{
    width:30%;
     display: inline-block;
}

/*** View Service ***/

.serviceDets
 {
    // width: 950px;
    width:100%;
    display: inline-table;
 }
 .serviceDetsDet
 {
     width:50%;
     //width:475px;
     display: table-cell;
      margin: 0;
    padding: 0;
    vertical-align: top;
 }
 .eachServiceDetsDet{
     width:100%;
     display: inline-table;
     //width:inherit;
 }
 .eachServiceDetsDet div{
    // width:20%;
     //width:inherit; 
   //width:215px;
   width: 30%;
     display: table-cell;
 }
 .eachServiceDetsDet label{ 
      float:right;
       min-height: 35px;
  }
div.oddDivService{
        height: inherit;
        background: #eee none repeat scroll 0 0;
 }
  
   .evenDivService
   {
       // background: #F0F7FF none repeat scroll 0 0;
        background: #FFF none repeat scroll 0 0;
   }
    .serviceSpan{
       word-wrap: break-word;
   }
/*** View Contact ***/

.contactDets
 {
    // width: 950px;
    width:100%;
    display: inline-table;
 }
 .contactDetsDet
 {
     width:50%;
     //width:475px;
     display: table-cell;
      margin: 0;
    padding: 0;
    vertical-align: top;
 }
 .eachContactDetsDet{
     width:100%;
     display: inline-table;
     //width:inherit;
 }
 .eachContactDetsDet div{
    // width:20%;
     //width:inherit; 
   //width:215px;
   width: 30%;
     display: table-cell;
 }
 .eachContactDetsDet label{ 
      float:right;
       min-height: 35px;
  }
div.oddDivContact{
        height: inherit;
        background: #eee none repeat scroll 0 0;
 }
  
   .evenDivContact
   {
       // background: #F0F7FF none repeat scroll 0 0;
        background: #FFF none repeat scroll 0 0;
   }
    .contactSpan{
       word-wrap: break-word;
   }
   .liveServiceAccount{
       width:97%;
   }
   .selectBox-dropdown {
    width: initial !important;
    //width:inherit !important;
}